.box1 {
    width: 372px;
    height: 250px;
    position: absolute;
    background: black
    
}

.box2 {
    width: 270px;
    height: 400px;
    position: absolute;
    top:250px;
    background: black

    
}

.box3 {
    width: 110px;
    height: 400px;
    position: absolute;
    top:250px;
    left:270px;
    background:black
}

.input_button1{
    width: 85px;
    height: 85px;
    color: #FFFFFF;
    background:#FF9F0A;
    position: absolute;
    top:260px;
    left:280px;
    border-radius: 50px;

}

.input_button2{
    width: 240px;
    height: 85px;
    color: #FFFFFF;
    position: absolute;
    top:260px;
    left:15px;
    background:#5c5b60;
    border-radius: 50px;

}

.input_number1{
    width: 240px;
    height: 85px;
    color: #FFFFFF;
    position: absolute;
    top:350px;
    left:15px;
    background:#2A2A2A;
    border-radius: 50px;

}

.input_number2{
    width: 240px;
    height: 85px;
    color: #FFFFFF;
    position: absolute;
    top:450px;
    left:15px;
    background:#2A2A2A;
    border-radius: 50px;
}

.print{
    font-size: 50px;
    color: #ffffff;
    position: absolute;
    top:130px;
    left:330px;
}

.print2{
    font-size: 30px;
    color: #5c5b60;
    position: absolute;
    top:120px;
    left:340px;
}