.box1 {
    width: 500px;
    height: 200px;
    background: transparent;

    position: relative;
    top: 50px;
    left: 100px;

    border-style: solid;
    border-width: 10px;
    border-radius: 33px;
    border-color: #E07B88;

    padding: 50px;
}

.picture {
    width: 100px;
    height: 100px;
    position: relative;

    border-style: solid;
    border-width: 5px;
    border-radius: 100px;
    border-color: #E07B88;

    margin-right: 10px;
}