.box1 {
    width: 380px;
    height: 650px;
    position: relative;
    background: #000000;
}

.output {
    width: 380px;
    height: 250px;
    position: relative;
    background: violet;
}

.num1
{
    color: #8E8D93;
    font-size: 35px;
    position: absolute;
    top: 120px;
    right: 20px;
    margin: 0;
}

.num2
{
    color: #ffffff;
    font-size: 70px;
    position: absolute;
    top: 150px;
    right: 20px;
    margin: 0;
}

.input {
    width: 100%;
    height: 400px;
    position: relative;
    background: green;
}

.input2 {
    width: 270px;
    height: 400px;
    position: relative;
    background: blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.inputbutton, .acbutten{
    width: 245px;
    height: 85px;
    background-color: #2A2A2A;
    border-radius: 50px;
    color: white;
    font-size: 20px;
    margin-bottom: 10px;
    border: none;
    text-align: center;
}